<div class="w-full max-w-6xl mx-auto mb-8">
    <div class="flex gap-4 items-center flex-wrap">
            <input type="text"
                   class="flex items-center bg-white rounded-lg flex-1 max-w-64 px-2 text-xl border border-gray-700 text-font-primary text-xl py-3 h-full w-full outline-none placeholder-gray-400"
                   placeholder="Search by name, country, gender..."
                   @oninput="OnSearchInput"/>
        <select class="text-font-primary px-3 py-3 rounded-lg border border-gray-700"
                @onchange="OnCountChanged">
            <option value="5">5 users</option>
            <option value="10" selected>10 users</option>
            <option value="20">20 users</option>
            <option value="50">50 users</option>
        </select>
        <button
            class="bg-primary text-white px-6 py-3 rounded-lg font-semibold hover:bg-blue-600 hover:text-gray-800 transition-colors cursor-pointer"
            @onclick="OnRefreshClick">
            Refresh
        </button>
    </div>
</div>

@code {
    [Parameter] public EventCallback<int> OnCountChange { get; set; }
    [Parameter] public EventCallback<string> OnSearchChange { get; set; }
    [Parameter] public EventCallback<string> OnRefresh { get; set; }

    private async Task OnCountChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int count))
            await OnCountChange.InvokeAsync(count);
    }

    private async Task OnSearchInput(ChangeEventArgs e)
    {
        await OnSearchChange.InvokeAsync(e.Value?.ToString() ?? string.Empty);
    }

    private async Task OnRefreshClick()
    {
        await OnRefresh.InvokeAsync();
    }

}
