@page "/profiles"
@inject IUserService UserService
<h1>Profiles</h1>

@foreach (var user in _users)
{
    <UserCard User="user"/>
}


@code {
    private List<User> _users = [];

    protected override async Task OnInitializedAsync()
    {
        _users = await UserService.GetUsersAsync(40);
    }

}