@inherits LayoutComponentBase
<div class="page">
        <NavMenu/>

        <main>
            <article class="">
                @Body
            </article>
        </main>
        
        <Footer/>
</div>