<nav class="bg-nav px-6 py-4 flex justify-between items-center sticky top-0 z-50">
        <NavLink class="text-primary hover:text-blue-400 hover:underline  font-medium transition-colors flex items-center gap-3" href=""
                 Match="NavLinkMatch.All">
            <img src="Assets/svg/logo.svg" alt="logo" class="w-12 h-12"/>

            <span class="text-xl font-bold hidden sm:block">RandomStrangerStack</span>
        </NavLink>
    <div class="flex gap-8">
        <NavLink class="text-primary hover:text-blue-400 hover:underline font-medium transition-colors" href=""
                 Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink class="text-primary hover:text-blue-400 hover:underline font-medium transition-colors" href="/profiles"
                 Match="NavLinkMatch.All">
            Profiles
        </NavLink>
        <NavLink class="text-primary hover:text-blue-400 hover:underline font-medium transition-colors" href="/readme"
                 Match="NavLinkMatch.All">
            Docs
        </NavLink>
    </div>
</nav>
