
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background: color-mix(in srgb, var(--color-gray-100) 75%, transparent);
}

.NavLink:hover {
    color: #a78bfa;
}