<nav class="text-font-secondary text-lg navlink py-4 flex justify-start w-full items-center">
        <img src="Assets/svg/logo.svg" alt="logo" class="w-16" />
        <div>
            
        <NavLink class="hover-purple" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink class="hover-purple" href="/profiles" Match="NavLinkMatch.All">
            Profiles
        </NavLink>
        </div>
</nav>