:root {
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-4: 1rem;
    --spacing-8: 2rem;

    --color-primary: #3b82f6;
    --color-font-primary: #edeaea;
    --color-gray-100: #f3f4f6;
    --color-gray-900: #111827;
}
