@if (IsOpen)
{
    <div class="fixed inset-0 z-50 flex justify-center items-center bg-overlay" @onclick="HandleBackdropClick">
        <div class="relative bg-gray-100 p-8 rounded-lg max-w-md w-90" @onclick:stopPropagation="true">
            <button class="absolute top-0 right-0 p-2 cursor-pointer" @onclick="Close">×</button>
            @ChildContent
        </div>
    </div>
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private async Task Close()
    {
        await OnClose.InvokeAsync();
    }

    private async Task HandleBackdropClick()
    {
        await OnClose.InvokeAsync();
    }

}