@if (IsOpen)
{
    <div class="modal-backdrop" @onclick="HandleBackdropClick">
        <div class="modal-content" @onClick:stopPropagation="true">
            <button class="modal-close" @onclick="Close">x</button>
            @ChildContent
        </div>
        
    </div>   
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private async Task Close()
    {
        await OnClose.InvokeAsync();
    }

    private async Task HandleBackdropClick()
    {
        await OnClose.InvokeAsync();
    }

}