<div class="user-card animate-pulse">
    <div class="w-48px h-48px rounded-full bg-gray-100"></div>
    <div class="user-info">
        <div class="h-4 bg-gray-900 rounded mb-2 w-60"></div>
        <div class="h-4 bg-gray-900 rounded mb-2 w-80"></div>
        <div class="h-4 bg-gray-900 rounded mb-2 w-80"></div>
        <div class="h-4 bg-gray-900 rounded mb-2 w-80"></div>
    </div>
</div>

@code {
    
}