<div class="user-card animate-pulse">
    <div class="w-12 h-12 rounded-full bg-gray-100"></div>
    <div class="user-info">
        <div class="h-4 bg-gray-900 rounded mb-2 w-3/5"></div>
        <div class="h-4 bg-gray-900 rounded mb-2 w-4/5"></div>
        <div class="h-4 bg-gray-900 rounded mb-2 w-4/5"></div>
        <div class="h-4 bg-gray-900 rounded mb-2 w-4/5"></div>
    </div>
</div>

@code {
    
}