.rounded {
    border-radius: 4px;
}

.rounded-lg {
    border-radius: 8px;
}

.rounded-xl {
    border-radius: 12px;
}

.rounded-full {
    border-radius: 9999px;
}

.outline-none {
    outline-style: none;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-overlay {
    background: var(--color-black-50);
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

.border {
    border-width: 1px;
    border-style: solid;
}

.border-gray-600 {
    border-color: var(--color-gray-600);
}

.placeholder-gray-400::placeholder {
    color: var(--color-gray-400);
}