.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.justify-items-start {
    justify-items: start;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-end {
    justify-items: end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.gap-1 {
    gap: var(--spacing-1);
}

.gap-2 {
    gap: var(--spacing-2);
}

.gap-3 {
    gap: var(--spacing-3);
}

.gap-4 {
    gap: var(--spacing-4);
}

.gap-5 {
    gap: var(--spacing-5);
}

.gap-6 {
    gap: var(--spacing-6);
}

.gap-7 {
    gap: var(--spacing-7);
}

.gap-8 {
    gap: var(--spacing-8);
}

.gap-9 {
    gap: var(--spacing-9);
}

.gap-10 {
    gap: var(--spacing-10);
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (min-width: 600px) {
    .md\:grid-cols-auto-fit {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

.sm\:col-span-2 {
    grid-column: span 2;
}

.lg\:col-span-2 {
    grid-column: span 2;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

@media (min-width: 640px) {
    .sm\:col-span-2 {
        grid-column: span 2 / span 2;
    }

    .sm\:grid {
        display: grid;
    }

    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .sm\:order-1 {
        order: 1;
    }

    .sm\:order-2 {
        order: 2;
    }

    .sm\:order-3 {
        order: 3;
    }

    .sm\:flex-row {
        flex-direction: row;
    }

    .sm\:gap-4 {
        gap: var(--spacing-4);
    }

    .sm\:gap-8 {
        gap: var(--spacing-8);
    }
}

@media (min-width: 1024px) {
    .lg\:col-span-2 {
        grid-column: span 2 / span 2;
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .lg\:flex-row {
        flex-direction: row;
    }

    .lg\:gap-16 {
        gap: var(--spacing-16);
    }

    .lg\:justify-start {
        justify-content: flex-start;
    }
}

