.w-12 {
    width: 3rem;
}

.w-8 {
    width: 2rem;
}

.w-16 {
    width: 4rem;
}

.w-32 {
    width: 8rem;
}

.w-48 {
    width: 12rem;
}

.w-56 {
    width: 14rem;
}

.w-64 {
    width: 16rem;
}

.w-72 {
    width: 18rem;
}

.w-80 {
    width: 20rem;
}

.w-96 {
    width: 24rem;
}

.w-1\/2 {
    width: 50%;
}

.w-3\/5 {
    width: 60%;
}

.w-4\/5 {
    width: 80%;
}

.w-9\/10 {
    width: 90%;
}

.w-full {
    width: 100%;
}

.h-3 {
    height: 0.75rem;
}

.h-4 {
    height: 1rem;
}

.h-5 {
    height: 1.25rem;
}

.h-8 {
    height: 2rem;
}

.h-12 {
    height: 3rem;
}

.h-16 {
    height: 4rem;
}

.h-32 {
    height: 8rem;
}

.h-auto {
    height: auto;
}

.h-full {
    height: 100%;
}

.max-w-sm {
    max-width: 24rem;
}

.max-w-md {
    max-width: 28rem;
}

.max-w-lg {
    max-width: 32rem;
}

.max-w-2xl {
    max-width: 42rem;
}

.max-w-3xl {
    max-width: 48rem;
}

.max-w-4xl {
    max-width: 56rem;
}

.max-w-6xl {
    max-width: 72rem;
}

.min-w-0 {
    min-width: 0;
}

.min-w-48 {
    min-width: 12rem;
}

.min-w-56 {
    min-width: 14rem;
}

.min-w-64 {
    min-width: 16rem;
}

.min-w-72 {
    min-width: 18rem;
}

.min-w-80 {
    min-width: 20rem;
}

.min-w-64 {
    min-width: 16rem;
}

.min-w-96 {
    min-width: 24rem;
}

.min-w-4\/5 {
    width: 80%;
}


.w-\[35ch\] {
    width: 35ch;
}

.min-h-\[80vh\] {
    min-height: 80vh;
}

.min-h-\[90vh\] {
    min-height: 90vh;
}

.min-h-screen {
    min-height: 100vh;
}

.shrink-0 {
    flex-shrink: 0;
}